<h1>Edit this flat</h1>
<%= simple_form_for [@flat] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :number_of_guests %>
  <%= f.input :price_per_night %>
  <%= f.input :description %>
  <%= f.submit "sent edits", class: "btn btn-primary" %>
<% end %>
